// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $color-secondary-2-2;
  text-decoration: none;

  @include on-event {
    color: $color-secondary-2-3;
    text-decoration: underline;
  }
}

div {
  margin: 1rem;
  padding: .5rem;
}

.grid-pad {
  display: flex;
  flex-wrap: wrap;
}

.module {
  width: 100px;
  height: 150px;

  p {
    text-align: center;
    font-family: $text-font-stack;
  }

  .badge {
    background-color: $color-primary-4;
    color: white;
    border-radius: 4px;
  }
}


.card {
 background: $light-grey;
  margin: 1rem;
 -webkit-transition: all 250ms;
 -moz-transition: all 250ms;
 transition: all 250ms;
 @include box_shadow(1);
   &:hover {
   @include box_shadow(3);
     -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
     transform: translateY(-5px);
 }
}
