/**
 * Basic typography style for copy text
 */
html, body, span, div, button, p {
  color: $dark-grey;
  font: normal 100% / 1.4 y;
}

h1, h4 {
	color: $color-secondary-1-0;
	font-family: $text-font-stack;
	font: 125%;
}

h1 {
	font-weight: bolder;
}

h2, h3 {
	color: $color-primary-0;
}
