@import '~sass/main';

ul {
  display: flex;
  flex-wrap: wrap;
}

.books, button {
  font-family: $text-font-stack;
  list-style-type: none;
  a {
    color: $color-secondary-2-4;
    &visited {
      color: $color-primary-0;
    }
    line-height: normal;
  }

  li {
    height: 2rem;
    border: 2px solid $color-secondary-2-3;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
  }
}

.delete {
  height: 1.5rem;
  padding: 1px 5px;
}
