<h2>Add New Book</h2>

<div class='form-container'>
  <label class="center-block">Title:
  <input class="form-control" [formControl]="title">
</label>
  <label class="center-block">Subtitle:
<input class="form-control" [formControl]="subtitle">
</label>
  <label class="center-block">Medium:
<input class="form-control" [formControl]="medium">
</label>
  <label class="center-block">Category:
<input class="form-control" [formControl]="category">
</label>
  <label class="center-block">Era:
<input class="form-control" [formControl]="era">
</label>
  <label class="center-block">Status:
<input class="form-control" [formControl]="status">
</label>
  <label class="center-block">Position:
<input class="form-control" [formControl]="position">
</label>
  <label class="center-block">Geographic Location:
<input class="form-control" [formControl]="geo">
</label>
  <label class="center-block">Rating:
<input class="form-control" [formControl]="rating">
</label>
</div>
