<h2>Add New Book</h2>

<form [formGroup]='bookForm' novalidate>
  <div class='form-group'>
    <label class='center-block'>Title:
      <input class='form-control' formControlName='title'>
    </label>

    <label class="center-block">Subtitle:
      <input class="form-control" formControlName="subtitle">
    </label>

    <label class="center-block">Medium:
      <input type='radio' value='' name='medium' formControlName="medium">{{medium}}
    </label>

    <label class="center-block">Category:
      <input class="form-control" formControlName="category">
    </label>

    <label class="center-block">Era:
      <input class="form-control" formControlName="era">
    </label>

    <label class="center-block">Status:
      <input class="form-control" formControlName="status">
    </label>

    <label class="center-block">Position:
      <input class="form-control" formControlName="position">
    </label>

    <label class="center-block">Geographic Location:
        <select class="form-control" formControlName="geo">
          <option *ngFor='let continent of continents' [value]='continent'>
            {{continent}}
          </option>
        </select>
    </label>

    <label class="center-block">Rating:
      <input class="form-control" formControlName="rating">
    </label>

  </div>
</form>

<p>
  Form Value: {{ bookForm.value | json }}
</p>
<p>
  Form Status: {{ bookForm.status | json }}
</p>


<!--- https://juristr.com/blog/2016/11/ng2-binding-radiobutton-lists/ -->
