button {
  background-color: $color-secondary-1-1;
  color: white;
  border: none;
  margin: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: $color-secondary-1-0;
}
button:disabled {
  background-color: #eee;
  color: $color-secondary-1-4;
  cursor: auto;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: $color-secondary-2-4;
  color: white;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: white;
}
nav a:hover {
  color: $dark-grey;
  background-color: $color-secondary-1-1;
}
nav a.active {
  color: $color-secondary-1-4;
}
